<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Contact Form with Bootstrap and PHPMailer</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="css/animacion.css">-->
    <!--<link rel="stylesheet" href="css/estilo.css">-->
     <!--<link rel="stylesheet" href="style.css"> -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="app.js"></script>
    <!-- <script src="controllers.js"></script> -->
</head>
<body ng-app="contactApp" >
    <div class="vertical-middle">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Contact Form</h2>
                </div>
                <div ng-controller="ContactController" class="panel-body">
                    <!--<form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">-->
                        <div class="form-group" >
                            <label for="inputName" class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Tu Nombre..." >
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Tu mail..." >
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="inputSubject" class="col-lg-2 control-label">Asunto</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Asunto del mensaje..." >
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="inputMessage" class="col-lg-2 control-label">Mensaje</label>
                            <div class="col-lg-10">
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Tu Mensaje..." ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button  class="btn btn-default" ng-disabled="submitButtonDisabled" ng-click="enviar()">
                                    Enviar Mensaje
                                </button>
                            </div>

      <!--<p  style="padding: 15px; margin: 0;">{{ Name }}</p>
      <p  style="padding: 15px; margin: 0;">{{ Email }}</p>
      <p  style="padding: 15px; margin: 0;">{{ Subject }}</p>
      <p  style="padding: 15px; margin: 0;">{{ Message }}</p>-->
                        </div>
                    <!--</form>-->
                    <!--<p  style="padding: 15px; margin: 0;">{{ resultMessage }}</p>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>