 <div class="modal-header">
    <center><h3 class="modal-title">Descuentos</h3></center>
</div>
<div class="modal-body">
  <style type="text/css">

    .messages {
      color: #FA787E;
    }
    form.ng-submitted input.ng-invalid{
      border-color: #FA787E;
    }
    form input.ng-invalid.ng-touched {
      border-color: #FA787E;
    }

    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }
  </style>

  <form id="discountModal"  enctype="multipart/form-data" name="discountForm" novalidate>

  <div layout="column" layout-align="space-around center">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
          <div class="form-group">
                <label for="name">Descuento</label>
                <input type="number" id="discount2" name="discount2" class="form-control" ng-model="discount.percentage"/>
                <br>
                <button class="btn btn-primary" type="button" ng-click="save();">Guardar</button>
                <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
        </div>

        <label for="table">Descuentos existentes</label>
          <br>
          <br>
          <table ng-table="tableParams2" class="table"><!--  show-filter="true" summary="Shopping cart"-->
              <tr ng-repeat="percent in percentages track by $index">
                <td title="'%'">
                 {{percent.percentage}} </td>
                <td title="'Estado'">
                    <select class="form-control" id="active" ng-model="percent.active" name="active" filter="{status: 'select'}" filter-data="discountStatus" 
                            ng-options="status.title for status in discountStatus track by status.active" ng-change="changeStatusPercentage(percent, percent.active)">
                    </select>
                  </td>
              </tr>
          </table>

     </div>
        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7">
            <label for="table">Descuentos configurados</label>
            <br>
            <br>
            <table ng-table="tableParams" class="table"><!--show-filter="true"-->
                <tr ng-repeat="prod in $data">
                  <td title="'Id'"><!-- style="width:500%"-->
                      <div class="form-group">
                        {{prod.idProduct.id}}
                    </div>
                  </td>
                  <td title="'Producto'" filter="{name: 'text'}">
                      <div class="form-group">
                        {{prod.idProduct.name}}
                    </div>
                  </td>
                  <td title="'Descuento'">

                   <select class="form-control" id="discount3" ng-model="prod.idDiscount" name="discount3" 
                    ng-options="percentage.percentage for percentage in percentages track by percentage.id" ng-init="prod.idDiscount" ng-change="changePercentageProductDiscount(prod.idProduct.id, prod.idDiscount)"
                     required>
                    </select>
                  </td>
                  <td title="'Estado'">
                       <select class="form-control" id="active" ng-model="prod.active" name="active" filter="{status: 'select'}" filter-data="discountStatus" 
                              ng-options="status.title for status in discountStatus track by status.active" ng-change="changeStatusProductDiscount(prod.idProduct.id, prod.active)">
                      </select>
                  </td>
                  <!--<td class="del-goods-col">
                       <a class="del-goods" href="" ng-click="removeProductDiscount(prod.idProduct.id)">&nbsp;</a>
                      <a class="add-goods" href="javascript:;">&nbsp;</a>
                  </td>-->
                </tr>
            </table>
          </div> 

      </div><!--row-->
  
  </div> 
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="exit()" >Salir</button>
</div>

