    <!-- BEGIN TOP BAR -->
    <div class="pre-header" ng-controller="PreheaderController">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                      <div ng-show="loginVar!==undefined">
                          <li>Bienvenido {{loginVar.name}}</li>
                          <li><a href="" ng-click="logOut()">Deslogearse</a></li>
                          <div ng-show="loginVar.idUserType.type=='CLIENTE'"><li><a href="my-account.html">Mi Cuenta</a></li></div>
                          <div ng-show="loginVar.idUserType.type=='ADMIN' || loginVar.idUserType.type=='EMPLEADO'"><li><a href="admin-page.html">Admin</a></li></div>
                      </div>
                      <div ng-show="loginVar===undefined">
                          <li><a href="page-login.html">Logearse/Registrarse</a></li>
                      </div>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
          </div>
      </div>
  
    <!-- END TOP BAR -->
  
    <div class="container-fluid">
      <div class="col-lg-offset-4">
      <a class="site-logo" href="index.html"><img src="../images/logo2.png" ></a>
     </div>
    </div>

    <!-- BEGIN HEADER -->
    <div class=" fix-body" ng-controller="CartController">

    <div class="header">
      <!-- Inicio alerta en error con la eliminacion de articulo en el carro -->
        <script type="text/ng-template" id="alert.html">
           <div ng-transclude></div>
        </script>
        <div class="row">
          <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-xs-8 col-sm-8 col-md-6 col-lg-6">
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="closeAlert($index)">&times;</a>
               <strong>Error en la operacion!</strong> {{alert.msg}}
            </div>
          </div>
        </div>
        <!-- Fin alerta del carro -->

      <div class="container">
        <!--<a class="site-logo" href="shop-index.html"><img src="" alt="IMAGEN"></a>-->
          
        <!--<a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars" onclick="myfunc()">            
        </i></a>-->

        <!-- BEGIN CART -->
        <div>
          <div class="top-cart-block">
            <div class="top-cart-info">
              <a class="top-cart-info-count">{{contentCart.length}} articulos</a>
              <a class="top-cart-info-value">{{subTotalCalculation() | currency}}</a>
            </div>
            <i class="fa fa-shopping-cart"></i>
                          
            <div class="top-cart-content-wrapper">
              <div class="top-cart-content">
                <ul class="scroller" style="height: 250px;">
                <div ng-hide="contentCart.length == 0">
                  <div ng-repeat="oneContent in contentCart track by oneContent.article.id">
                    <li>
                      <a href="{{oneContent.article.icon}}"><img ng-src="{{oneContent.article.icon}}" alt="" width="37" height="34"></a>
                      <span class="cart-content-count">{{oneContent.quantity}}</span>
                      <strong><a href="shop-item.html?id={{oneContent.article.idProd.id}}">{{oneContent.article.idProd.name}}</a></strong>
                      <em>{{(oneContent.article.price | number:2.0)}}</em>
                      <a ng-click="deleteFromCart(oneContent.article.id)" class="del-goods">&nbsp;</a>
                    </li>
                  </div>
                  </div>
                  <div ng-show="contentCart.length == 0">
                    <div class="col-md-12 col-sm-12">
                        <h1>Carro de compras vacio!</h1>
                     </div>
                  </div>
                </ul>
                <div class="text-right">
                  <a href="shop-shopping-cart.html" class="btn btn-default">Ver Carrito</a>
                  <a href="checkout.html" class="btn btn-primary" ng-disabled="loginVar.blacklist">Checkout</a>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
              <li class="dropdown" ng-repeat="itemMenu in menu track by $index">
                <a class="dropdown-toggle" data-toggle="dropdown" >
                  {{itemMenu.target}}                
                </a>                
                <!-- BEGIN DROPDOWN MENU -->
                <ul class="dropdown-menu" >
                  <li  ng-click="selectMenu(itemMenu.target, 'Todos')"><a href="search-result.html?target={{itemMenu.target}}&prodType=Todos">Todos</a></li>
                  <li ng-repeat="prodType in itemMenu.prodType track by $index"><a href="search-result.html?target={{itemMenu.target}}&prodType={{prodType.type}}">{{prodType.type}}</a></li>
                </ul>
                <!-- END DROPDOWN MENU -->
              </li>

              <!-- BEGIN TOP SEARCH -->
              <li class="menu-search" style="padding-left: 380px; top: 15px;">
                <div class="search-box" style="display: block;">
                  <form action="search-result.html" method="get">
                    <div class="input-group">
                      <input type="text" placeholder="Search" class="form-control" name="word" id="word">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                      </span>
                    </div>
                  </form>
                </div> 
              </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    </div>
    <!-- Header END -->
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
        });
    </script>