<!DOCTYPE html>

<html lang="es" ng-app="LaMaceta">

<head>


  <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
  
  <script src="../js/angular-cookies.js"></script>
  <script src="../bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
  <script src="../bower_components/ng-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
  <script src="../js/checklist-model.js"></script>
  <script src="../js/angular-cookies.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  <script src="../js/app/app.js"></script>

  

  <script src="../js/controller/LoginController.js"></script>
  <script src="../js/service/LoginService.js"></script> 

  <script src="../js/controller/CartController.js"></script>
  <script src="../js/service/CartService.js"></script>

  <script src="../js/controller/SearchController.js"></script>
  <script src="../js/service/SearchService.js"></script>

  <script src="../js/controller/PreheaderController.js"></script>


  <meta charset="utf-8">
  <title>Mi Cuenta | LaMaceta</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"> 
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="assets/pages/css/components.css" rel="stylesheet">
  <link href="assets/corporate/css/style.css" rel="stylesheet">
  <link href="assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

  <!-- VISTA HEADER -->
    <div ng-include="'header.html'">
     </div>
     <!-- FIN VISTA HEADER -->

<!-- Body BEGIN -->
<body class="ecommerce" ng-controller="LoginController">       
    
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="shop-index.html">Inicio</a></li>
            <li><a href="">Store</a></li>
            <li class="active">Administrador</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix" ng-click="selectTab('register')"><a href=""><i class="fa fa-angle-right"></i>Registrarse</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('login')"><a href=""><i class="fa fa-angle-right"></i>Logearse</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

    <div class="col-md-9 col-sm-7">

      <div ng-show="selectedTab=='register'">
            <h1>Registrarse</h1>
            <form id="registerModal"  enctype="multipart/form-data" name="registerForm" novalidate>
                    <div class="panel-body row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="name">Nombre <span class="require">*</span></label>
                          <input type="text" ng-pattern="/^[a-zA-Z\_\- ]*$/" ng-minlength="3" name="name" id="name" class="form-control" ng-model="register.name" required>
                          <div ng-show="registerForm.name.$error.pattern">Solo letras y espacios</div>
                          <div ng-show="registerForm.name.$error.minlength">Mínimo tres letras</div>
                          <div ng-show="registerForm.name.$error.required">Requerido</div>
                        </div>
                        <div class="form-group">
                          <label for="surname">Apellido <span class="require">*</span></label>
                          <input type="text" id="surname" name="surname" class="form-control" ng-pattern="/^[a-zA-Z\_\- ]*$/" ng-minlength="3" ng-model="register.surname">
                          <div ng-show="registerForm.surname.$error.pattern">Solo letras y espacios</div>
                          <div ng-show="registerForm.surname.$error.minlength">Mínimo tres letras</div>
                          <div ng-show="registerForm.surname.$error.required">Requerido</div>
                        </div>
                        <div class="form-group">
                          <label for="email">E-Mail <span class="require">*</span></label>
                          <input type="email" id="email" name="email" class="form-control" ng-model="register.email" required>
                          <div ng-show="registerForm.email.$error.email">Debe ser formato mail</div>
                          <div ng-show="registerForm.email.$error.required">Requerido</div>
                        </div>
                        <h3>Contraseña</h3>
                        <div class="form-group">
                          <label for="password">Contraseña <span class="require">*</span></label>
                          <input type="password" id="password" name="password" class="form-control" ng-minlength="6" ng-model="register.password" required>
                          <div ng-show="registerForm.password.$error.minlength">Mínimo seis letras</div>
                          <div ng-show="registerForm.password.$error.required">Requerido</div>
                        </div>
                        <div class="form-group">
                          <label for="password-confirm">Confirmar Contraseña <span class="require">*</span></label>
                          <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" data-password-verify="register.password" 
                                  ng-init="register.passwordConfirm = register.password" ng-model="register.passwordConfirm" required>
                          <div ng-show="registerForm.passwordConfirm.$error.passwordVerify">Fields are not equal!</div>
                        </div> 
                     </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="birthdate">Fecha de Nacimiento</label>
                          <input type="date" id="birthdate" name="birthdate" ng-model="register.birthDate" class="form-control" max="{{hace18 | date:'yyyy-MM-dd'}}" required>
                          <div ng-show="registerForm.birthdate.$error.required">Requerido</div>
                        </div>
                        <label for="gender">Genero</label>                     
                        <div class="checkbox">
                          <label>
                            Masculino <input type="radio" ng-model="register.gender" value="Masculino" required>
                          </label>
                          <label>
                            Femenino <input type="radio" ng-model="register.gender" value="Femenino" required>
                          </label>
                        </div>
                      </div>
                      <hr>
                      <div class="col-md-12">                      
                        <button class="btn btn-primary" type="button" ng-click="tryRegister(register)" ng-disabled="registerForm.$invalid">Guardar</button>                     
                      </div>
                    </div>
                </form>
      </div> <!---ng-show-->

      <div ng-show="selectedTab=='login'">
          <h1>Logearse</h1>
            <div class="col-md-6 col-sm-6">
              <form id="LoginModal" enctype="multipart/form-data" name="loginForm">
                      <div class="form-group">
                        <label for="email">E-mail <span class="require">*</span></label>
                        <input type="email" id="email" class="form-control" ng-model="login.email" required/>
                      </div>
                      <div class="form-group">
                        <label for="password">Contraseña<span class="require">*</span></label>
                        <input type="password" id="password" class="form-control" ng-model="login.password" required/>
                  </div>
              </form>
              <div class="col-md-12">   
                  <button class="btn btn-primary pull-right" type="submit" id="login-confirm" ng-click="tryLogin(login)" ng-disabled="loginForm.$invalid">Logearse</button>
              </div>
              <a href="" ng-click="selectTab('forgotPassword')">Olvidó su contraseña?</a>
            </div>
      </div> <!---ng-show--> 

      <div ng-show="selectedTab=='tryLoginInstead'">
          <h1>Mensaje</h1>
            <div class="content-form-page">
              {{tryLoginInsteadLegend}}
              <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix" ng-click="selectTab('login')"><a href=""><i class="fa fa-angle-right"></i>Logearse</a></li>
              </ul>
            </div>
      </div> <!---ng-show-->  
        
      <div ng-show="selectedTab=='forgotPassword'">
        <h1>Recuperación de contraseña</h1>
            <div class="col-md-6 col-sm-6">
              <form id="ResetPasswordModal" enctype="multipart/form-data" name="resetPasswordForm">
                      <div class="form-group">
                        <label for="email">E-mail <span class="require">*</span></label>
                        <input type="email" id="email" class="form-control" ng-model="reset.email" required/>
                      </div>
              </form>
              <div class="col-md-12">   
                  <button class="btn btn-primary pull-right" type="submit" id="login-confirm" ng-click="resetPassword(reset.email)" ng-disabled="resetPasswordForm.$invalid">Resetear password</button>
              </div>
            </div>
      </div> <!---ng-show-->   


        </div>        
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

        <!-- VISTA FOOTER -->
    <div ng-include="'footer.html'"></div>
    <!-- FIN VISTA FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>