 <div class="modal-header">
    <center><h3 class="modal-title">Productos</h3></center>
</div>
<div class="modal-body">
  <style type="text/css">

    .messages {
      color: #FA787E;
    }
    form.ng-submitted input.ng-invalid{
      border-color: #FA787E;
    }
    form input.ng-invalid.ng-touched {
      border-color: #FA787E;
    }

    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }
  </style>

  <form id="productModal"  enctype="multipart/form-data" name="productForm" novalidate>
    <div layout="column" layout-align="space-around center">
      <div class="row">
      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">
              <label for="name">Nombre<span class="require"> *</span></label>
              <input type="text" id="name" name="name" class="form-control" ng-model="product.name" required/>
              <span class="messages" ng-show="productForm.$submitted || productForm.name.$touched">
              <span ng-show="productForm.name.$error.required">El campo es obligatorio.</span>
              </span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">  
          <label for="description">Descripcion</label>
          <textarea class="form-control" id="description" ng-model="product.description" name="description"></textarea>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-2 col-sm-3 col-md-4 col-lg-4 -->
    </div><!--row-->

    <div class="row">
      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="provider">Proveedor<span class="require"> *</span></label>
            <select class="form-control" id="provider" ng-model="product.provider" name="provider" ng-options="provider as provider.name for provider in providers track by provider.id"        
             required>
            </select>
            <span class="messages" ng-show="productForm.$submitted || productForm.provider.$touched">
            <span ng-show="productForm.provider.$error.required">El campo es obligatorio.</span>
            </span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="season">Temporada<span class="require"> *</span></label>
            <select class="form-control" id="season" ng-model="product.season" name="season" ng-options="season as season.season for season in seasons track by season.id"        
             required>
            </select>
                <span class="messages" ng-show="productForm.$submitted || productForm.season.$touched">
                <span ng-show="productForm.season.$error.required">El campo es obligatorio.</span>
                </span>
        </div>
      </div>
    </div><!--row-->  

    <div class="row">
      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="supplier">Target<span class="require"> *</span></label>
            <select class="form-control" id="target" ng-model="product.target" name="target" required><!--TODO no harcodear-->
            <option value="Nenes">Nenes</option>
            <option value="Nenas">Nenas</option>
            <option value="Bebes">Bebes</option>
            <option value="Unisex">Unisex</option>
            </select>
            <span class="messages" ng-show="productForm.$submitted || productForm.target.$touched">
            <span ng-show="productForm.target.$error.required">El campo es obligatorio.</span>
            </span>
        </div>
      </div>

      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="prodType">Tipo de producto<span class="require"> *</span></label>
            <input type="text" id="prodType" prodType="prodType" class="form-control" ng-model="product.prodType" required/>
            <span class="messages" ng-show="productForm.$submitted || productForm.prodType.$touched">
            <span ng-show="productForm.prodType.$error.required">El campo es obligatorio.</span>
            </span>
        </div>
      </div>

      <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
        <div class="form-group">               
          <label for="images">Imagenes </label>
          <input type="file" ngf-select="imagesVerification($files,$invalidFiles)" ng-model="product.imagesToUpload" name="imagesToUpload" id="imagesToUpload"   
             accept="image/*" ngf-max-size="5MB" ngf-max-height="2000" ngf-max-width="2000" ngf-model-invalid="errorFile" multiple/><br>
               <div ng-show="badFiles!=undefined">
                   <div ng-show="badFiles.length!=0"><label>Con errores:</label></div>
                   <li ng-repeat="f in badFiles">"{{f.name}}". Error: {{f.$error}}. Límite: {{f.$errorParam}}</li>
               </div>
               <span ng-show="errorMsg != ''">{{errorMsg}}</span>
        </div>
      </div>

      <div class="col-xs-8 col-sm-10 col-md-12 col-lg-12">
      <div class="form-group">
        <table summary="Shopping cart" width="100%">
          <tr>
            <th>¿Borrar?</th>
            <th>Preview</th>
            <th>Nombre</th>
          </tr>
          <tr ng-repeat="image in product.images | filter:{active:true}">
            <td><input type="checkbox" checklist-model="checklistToDelete" checklist-value="image.id"/></td>
            <td><img width="50" heigth="50" ng-src="../images/{{image.path}}/{{image.rutaImg}}"/></td>
            <td><a href="../images/{{image.path}}/{{image.rutaImg}}" target="_blank">{{image.rutaImg}}</a></td>
          </tr>
        </table>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="actionImages(checklistToDelete, product.id)" ng-disabled="checklistToDelete.length==0">BORRAR IMAGENES</button>
        </div>
      </div>
      </div>
    </div>
    </div>    
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save(product)" ng-disabled="productForm.$invalid">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

