<div class="modal-header">
    <center><h3 class="modal-title">Proveedores</h3></center>
</div>
<div class="modal-body">
  <style type="text/css">

    .messages {
      color: #FA787E;
    }
    form.ng-submitted input.ng-invalid{
      border-color: #FA787E;
    }
    form input.ng-invalid.ng-touched {
      border-color: #FA787E;
    }

    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }

  </style>

  <form id="providerModal"  enctype="multipart/form-data" name="providerForm" novalidate>
    <div layout="column" layout-align="space-around center">
      <div class="row">
        <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
            <div class="form-group">
            <label for="name">Nombre<span class="require">*</span></label>
            <input type="text" id="name" name="name" ng-pattern="/^[a-zA-Z\_\- ]*$/" ng-minlength="3" class="form-control" ng-model="provider.name" required>               
              <span class="messages" ng-show="providerForm.$submitted || providerForm.name.$touched">
                <div ng-show="providerForm.name.$error.pattern">Solo letras y espacios</div>
                <div ng-show="providerForm.name.$error.minlength">Mínimo tres letras</div>
                <div ng-show="providerForm.name.$error.required">Requerido</div>
              </span>
            </div>
            <div class="form-group">
            <label for="code">Código<span class="require">*</span></label>
            <input type="text" id="code" name="code" ng-pattern="/^[a-zA-Z1-9\_\- ]*$/" ng-minlength="1" class="form-control" ng-model="provider.code" required>               
              <span class="messages" ng-show="providerForm.$submitted || providerForm.code.$touched">
                <div ng-show="providerForm.code.$error.pattern">Solo letras, numeros y espacios</div>                
                <div ng-show="providerForm.code.$error.required">Requerido</div>
              </span>
            </div>
        </div>
        <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">  
          <div class="form-group">
              <!--<button class="btn btn-primary" type="button" ng-click="">Ver / Editar talles</button>-->
              <button type="button" class="btn btn-primary" ng-click="openSizeModal()">Ver / Editar Talles</button>
          </div>      
        </div>



    </div>  <!-- /.row -->  
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save(provider)">Guardar</button><!--ng-disabled="providerForm.$invalid"-->
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>