<!DOCTYPE html><html lang="es-AR" class="nojs">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>La Maceta</title>

<meta name="description" content="" />

<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />

<script src="../bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script><!--Es para la paginacion-->
  <script src="../bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
  <script src="../bower_components/ng-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
  <script src="../bower_components/satellizer/dist/satellizer.js"></script>
  <script type="text/javascript" src="../bower_components/angular-md5/angular-md5.js"></script>
  
  <script src="../js/checklist-model.js"></script>
  <script src="../js/angular-cookies.js"></script>

  <script src="../js/app/app.js"></script>

  <script src="../js/controller/SearchController.js"></script>
  <script src="../js/service/SearchService.js"></script>

  <script src="../js/controller/CartController.js"></script>
  <script src="../js/service/CartService.js"></script>

  <script src="../js/controller/PreheaderController.js"></script>
  <script src="../js/service/ShopItemService.js"></script>
  <script src="../js/service/AdminService.js"></script>



<script type="text/javascript" src="../js/js/jquery-1.8.2.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery-ui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery.cycle2.carousel.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery.cycle2.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery.cycle2.swipe.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../js/js/behaviours.js" charset="utf-8"></script>

<style>
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Raleway:300,400,700|Roboto:300,400,700|Roboto+Slab:400,700');
</style> 
</head>
<body ng-app="LaMaceta">
	<div id="wrapper">
	<div class="topcontent">
		<div class="header">
			<a class="logo" href="/"><img src="images/logo.svg"></a>
			<div class="toolbar">
				<div class="login"><a href="login.html">LOGIN</a></div>
				<div class="carrito"><a href="shop-shopping-cart.html">0 ARTÍCULOS: $0.00</a></div>
			</div>
			<div id="topmenu">
				<ul class="menu">
					<li><a href="\">Home</a></li>
					<li><a href="">Productos</a>
						<ul class="submenu">
							<li><a href="">Bebes</a></li>
							<li><a href="">Nenas</a></li>
							<li><a href="">Nenes</a></li>
							<li><a href="">Unisex</a></li>
						</ul>
					</li>
					<li><a href="">Nosotros</a></li>
				</ul>
			</div>
			<a href="search-result.html" class="search"></a>
			<div class="sidebar-trigger"></div>
		</div>
	</div>
	<div class="maincontent" ng-controller="CartController">
		<div class="container">
			<div class="seccion-carrito">
				<div class="path">Carrito</div>
				<table style="width:100%">
				<tr>
					<th></th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Total</th>
					<th></th>
				</tr>
				<tr ng-repeat="oneContent in contentCart track by $index">
					<td><img ng-src="{{oneContent.article.icon}}"/></td>
					<td><a href="shop-item.html?id={{oneContent.article.id}}">{{oneContent.article.idProd.name}}</a></td>
					<td><input id="product-quantity{{$index}}" type="number" class="right number" name="quantity" min="1" ng-model="oneContent.quantity"></td>
					<td>{{oneContent.article.price | currency}}</td>
					<td>{{(oneContent.article.price * oneContent.quantity) | currency}}</td>
					<td><a ng-click="deleteFromCart(oneContent.article.id)">Borrar</a></td>
				</tr>
				</table>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-offset-4 col-sm-offset-11 col-md-offset-11">
							<b>Sub total:</b> ${{subTotalCalculation()}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-4 col-sm-offset-11 col-md-offset-11">
							<div ng-show="emptyCart()">
							<a href="shop-index.html"><button class="right btn-lg btn-warning" type="botton">Pagar</button></a>
							</div>
							<div ng-show="!emptyCart()">
								<button class="right btn-lg btn-warning" type="botton" disabled>Pagar</button>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="bloque cuatro sc">
				<h1>Contactanos</h1>
				Teléfono: 0810.777.4444 <br>
				Correo Electrónico: <a href="mailto:info@lamaceta.com.ar">info@lamaceta.com.ar</a>
				<?php
				if (!isset($_POST['email'])) {
				}else{
				$mensaje="Mensaje del formulario de contacto de hotelsanmiguel.com.ar";
				$mensaje.= "\nNombre y Apellido: ". $_POST['nombre'];
				$mensaje.= "\nEmail: ".$_POST['email'];
				$mensaje.= "\nCometario: \n".$_POST['consulta'];
				$destino= "nicolas.juarez86@gmail.com";
				$remitente = $_POST['email'];
				$asunto = "Consulta enviada por: ".$_POST['nombre'];
				mail($destino,$asunto,$mensaje,"FROM: $remitente");
				?>
				<?php
				}
				?>
				<div class="formulario">
					<div class="flecha">TUS COMENTARIOS NOS INTERESAN!</div>
					<form action="<?=$_SERVER['PHP_SELF']?>" method="post">
						<input class="box" name="nombre" type="text" size="53" placeholder="Nombre"/>
						<input class="box" name="email" type="text" size="53" placeholder="Email" />
						<textarea class="box" name="consulta" rows="6" cols="40" placeholder="Comentario" ></textarea>
						<input type="submit" value="Enviar" class="button"/>
					</form>	
				</div>					
			</div>
		</div>

		<div class="bloque cinco">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13111.223566461284!2d-58.3982202!3d-34.7604822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x679c670d7246451b!2sLa+Maceta!5e0!3m2!1ses-419!2sar!4v1493671466510" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="bottomcontent">
		<div class="footer">
			<div class="bloque">
				<ul>
					<li><a href="">Inicio</a></li>
					<li><a href="">Bebes</a></li>
					<li><a href="">Nenas</a></li>
					<li><a href="">Nenas</a></li>
					<li><a href="">Unisex</a></li>
				</ul>
			</div>
			<div class="bloque logo"><a class="logo" href="/"><img src="images/logo-pie.svg"></a></div>
			<div class="bloque">
				<h2>Contáctenos</h2>
				Dirección, Buenos Aires Argentina <br>
				Teléfono 0810-777-4444<br>
				E-mail <a href="mailto:info@lamaceta.com.ar">info@lamaceta.com.ar</a>
			</div>
		</div>
	</div>
	</div>

	<div id="sidebar">
		<div class="toolbar">
			<div class="login"><a href="">LOGIN</a></div>
			<div class="carrito">0 ARTÍCULOS: $0.00</div>
		</div>
			<div id="topmenu">
				<ul class="menu">
					<li><a href="">Bebes</a></li>
					<li><a href="">Nenas</a></li>
					<li><a href="">Nenes</a></li>
					<li><a href="">Unisex</a></li>
				</ul>
			</div>
		<a class="buscador search"></a>
	</div>

</body>
