 <div class="modal-header">
    <center><h3 class="modal-title">Usuario</h3></center>
</div>
<div class="modal-body">
  <style type="text/css">

    .messages {
      color: #FA787E;
    }
    form.ng-submitted input.ng-invalid{
      border-color: #FA787E;
    }
    form input.ng-invalid.ng-touched {
      border-color: #FA787E;
    }

    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }
  </style>

  <form id="userModal"  enctype="multipart/form-data" name="userForm" novalidate>
    <div layout="column" layout-align="space-around center">
      <div class="row">
        <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="name">Nombre <span class="require">*</span></label>
                    <input type="text" ng-pattern="/^[a-zA-Z\_\- ]*$/" ng-minlength="3" id="name" name="name" class="form-control" ng-model="user.name" required>
                      <span class="messages" ng-show="userForm.$submitted || userForm.name.$touched">
                        <div ng-show="userForm.name.$error.pattern">Solo letras y espacios</div>
                        <div ng-show="userForm.name.$error.minlength">Mínimo tres letras</div>
                        <div ng-show="userForm.name.$error.required">Requerido</div>
                      </span>
                  </div>
                  <div class="form-group">
                    <label for="surname">Apellido <span class="require">*</span></label>
                    <input type="text" ng-pattern="/^[a-zA-Z\_\- ]*$/" ng-minlength="3" id="surname" name="surname" class="form-control" ng-model="user.surname" required>
                      <span class="messages" ng-show="userForm.$submitted || userForm.surname.$touched">
                        <div ng-show="userForm.surname.$error.pattern">Solo letras y espacios</div>
                        <div ng-show="userForm.surname.$error.minlength">Mínimo tres letras</div>
                        <div ng-show="userForm.surname.$error.required">Requerido</div>
                      </span>
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail <span class="require">*</span></label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="user.email" required>
                      <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
                        <div ng-show="userForm.email.$error.email">Debe ser formato mail</div>
                        <div ng-show="userForm.email.$error.required">Requerido</div>
                      </span>
                  </div>
                <h3>Contraseña</h3>
                    <div class="form-group">
                      <label for="password">Contraseña <span class="require">*</span></label>
                      <input type="password" id="password" name="password" class="form-control" ng-minlength="6" ng-model="user.password" required>
                        <span class="messages" ng-show="userForm.$submitted || userForm.password.$touched">
                          <div ng-show="userForm.password.$error.minlength">Mínimo seis letras</div>
                          <div ng-show="userForm.password.$error.required">Requerido</div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">Confirmar Contraseña <span class="require">*</span></label>
                        <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" ng-minlength="6" data-password-verify="user.password" 
                                ng-init="user.passwordConfirm = user.password" ng-model="user.passwordConfirm" required>
                        <div ng-show="userForm.passwordConfirm.$error.passwordVerify">Fields are not equal!</div>
                    </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="birthdate">Fecha de Nacimiento</label>
                  <input type="date" id="birthdate" name="birthdate" ng-model="user.birthDate" class="form-control" max="{{hace18 | date:'yyyy-MM-dd'}}" required>
                  <div ng-show="userForm.birthdate.$error.required">Requerido</div>
                </div>
                <label for="gender">Genero</label>      
                <div ng-init="user.gender='Masculino'" />          
                    <label><input type="radio" id="gender" ng-model="user.gender" value="Masculino"> Masculino</label>
                    <label><input type="radio" id="gender" ng-model="user.gender" value="Femenino"> Femenino</label>
                </div>              
            </div>
        </div>
      </div>  
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save(user)" ng-disabled="userForm.$invalid">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

